name: "Selenium"
description: "Selenium Tests"
inputs:
  SeleniumRoot:
    description: 'Selenium Root Folder'
    required: yes
runs:
  using: "composite"
  steps: 
  - name: Install dependencies
    run: |
      ./Source/Tests/Selenium/Install-ChromeDriver.ps1
    shell: pwsh
  - name: Build
    run: |
      dotnet clean ./Source/Tests/Selenium/SeleniumTests/SeleniumTests.sln
      # dotnet restore ./Source/Tests/Selenium/SeleniumTests/SeleniumTests.sln
      dotnet build ./Source/Tests/Selenium/SeleniumTests/SeleniumTests.sln
      dotnet test ./Source/Tests/Selenium/SeleniumTests/SeleniumTests.sln
    shell: pwsh
