# This is a basic workflow to help you get started with Actions

name: Testing

# Controls when the workflow will run
on:
  workflow_dispatch:
  
permissions: write-all

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: windows-latest
    environment: "Production"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
          
      - name: Output Variable
        run: |
          echo "action_state=yellow" >> $GITHUB_ENV
    
      - name: Test Variable
        run: |
          echo "This is the value: ${{ env.action_state }}"
