# This is a basic workflow to help you get started with Actions

name: githubCLITesting

# Controls when the workflow will run
on:
  workflow_dispatch:
  
permissions: write-all

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
          
      - name: GitHub Script
        uses: actions/github-script@v4.0.2
        with:
          # The script to run
          script: 
            gh api -X POST repos/boscoedash/InternalExpenseApp/pulls -F head="develop" -F base="master" -F title="Test PR" -F body="some text for testing"
    
