# Terraform deployment workflow

name: Terraform_CD

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  terraform:
      name: "Terraform"
      runs-on: ubuntu-latest
      env:
        ARM_CLIENT_ID: ${{ secrets.INTERNAL_EXPENSE_APP_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.INTERNAL_EXPENSE_APP_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.INTERNAL_MAG_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.INTERNAL_MAG_TENANT_ID }}
        ARM_ENVIRONMENT: usgovernment
        ARM_SKIP_PROVIDER_REGISTRATION: true

      steps:
        - name: "Checkout"
          uses: actions/checkout@master

        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v1

#        - name: "AZLogin"
#          uses: azure/login@v1
#          with:
#            creds: ${{ secrets.INTERNAL_EXPENSE_APP_CREDENTIAL }}
#            environment: AzureUSGovernment

        - name: "Terraform Format"
          id: fmt
          run: terraform fmt

        - name: "Terraform Init"
          id: init
          run: terraform init -lock=false

        - name: "Terraform Validate"
          id: validate
          run: terraform validate -no-color

        - name: "Terraform Plan"
          id: plan
          run: terraform plan -no-color

        - name: "Terraform Apply"
          id: apply
          run: terraform apply -auto-approve

