# This is a basic workflow to help you get started with Actions

name: Terraform_CD

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  terraform:
      name: "Terraform"
      runs-on: ubuntu-latest
      steps:
        - name: "Checkout"
          uses: actions/checkout@master

        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v1

        - name: "AZLogin"
          uses: azure/login@v1
          with:
            creds: ${{ secrets.INTERNAL_EXPENSE_APP_CREDENTIAL }}
            environment: AzureUSGovernment
            
        - name: "Terraform Format"
          id: fmt
          run: terraform fmt

        - name: "Terraform Init"
          id: init
          run: terraform init

        - name: "Terraform Validate"
          id: validate
          run: terraform validate -no-color

        - name: "Terraform Plan"
          id: plan
          run: terraform plan -no-color

        - name: "Terraform Apply"
          id: apply
          run: terraform apply
